# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
eas.json

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

# build
android/
ios/
.env

# database

database/Sofia-gb/**
database/melijauregui/**
database/fashionclipFinetuned/__pycache__/**
database/cached_images/**

.venv-mp/
/logs

server/generated/prisma/**
database/__pycache__/server.cpython-312.pyc
.vscode/settings.json
server/generated/prisma/edge.js
server/generated/prisma/index.js
