GOOGLE_CLIENT_ID
GOOGLE_CLIENT_SECRET
SMTP_USER
SMTP_PASS
BETTER_AUTH_SECRET
BETTER_AUTH_URL=http://localhost:3000
WEAVIATE_URL
WEAVIATE_API_KEY
DB_USER=cherrypick
DB_PASSWORD=password
DB_NAME=cherrypick_db 
DB_HOST="localhost"
DATABASE_URL="postgresql://cherrypick:password@localhost:5432/cherrypick_db"
DATABASE_PORT=5432
ENVIRONMENT="production"
HOSTNAME="0.0.0.0"
PORT=3000