POSTGRES_ROOT_PASSWORD=password
DB_USER=cherrypick
DB_PASSWORD=password
DB_NAME=cherrypick_db
DATABASE_PORT=5432
HOSTNAME="0.0.0.0"
PORT=3000
DB_HOST="cherrypick-db"
ENVIRONMENT="development"
DATABASE_URL="postgresql://cherrypick:password@cherrypick-db:5432/cherrypick_db"