# Deep Learning / Inference
torch
transformers
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
huggingface-hub

# API
fastapi
uvicorn

# Serialization / Communication
protobuf>=6.30.0
grpcio==1.73.1
grpcio-tools==1.73.1
grpcio-health-checking==1.73.1

# Utils
numpy
pandas
scikit-learn
